<div class="tab-pane h-100" id="forecastOther">
    <div class="d-flex flex-column h-100">
        <ul class="nav nav-tabs mb-4" role="tablist" data-bind="foreach: Forecast.genericDealList">
            <li class="nav-item">
                <button class="nav-link" data-bs-toggle="pill" type="button" role="tab"
                    data-bind="text: Companion.data.genericDealLabels[$data] ?? $data, css: { active: $index() == 0 },
                        attr: { id: `genericdeal-${$index()}-tab`, 'data-bs-target': `#genericdeal-${$index()}`, 'data-path': $data.replace(/\s+/g, '') }"></button>
            </li>
        </ul>
        <div class="tab-content flex-grow-1" style="overflow: auto;" data-bind="foreach: Forecast.genericDealList">
            <div class="tab-pane" role="tabpanel" data-bind="css: { active: $index() == 0 }, attr: { id: `genericdeal-${$index()}` }">
                <div class="container-xxl">

                    <table class="table table-sm small">
                        <thead>
                            <tr class="text-center">
                                <th>Cost</th>
                                <th></th>
                                <th>Receieve</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Forecast.getGenericDealsByShop($data, 31)">
                            <tr class="table-primary">
                                <td class="fw-bold ps-3" colspan="3" data-bind="text: Util.formatDate($data.date)"></td>
                            </tr>
                            <!-- ko foreach: $data.deals -->
                            <tr class="align-middle text-center">
                                <td>
                                    <!-- ko foreach: $data.costs -->
                                    <div data-bind="text: `${amount.toLocaleString()} × ${ItemList[name].displayName}`"></div>
                                    <!-- /ko -->
                                </td>
                                <td>→</td>
                                <td>
                                    <!-- ko foreach: $data.profits -->
                                    <div data-bind="text: `${amount.toLocaleString()} × ${ItemList[name].displayName}`"></div>
                                    <!-- /ko -->
                                </td>
                            </tr>
                            <!-- /ko -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>