<nav class="navbar navbar-expand bg-primary py-0" data-bs-theme="dark" data-bind="visible: Companion.activeTab() == '#forecastContent'">
    <div class="container-fluid justify-content-xl-center g-0">
        <ul class="navbar-nav" role="tablist">
            <li class="nav-item mx-1">
                <button class="nav-link active" data-bs-toggle="pill" data-bs-target="#forecastUnown" type="button" role="tab">
                    Unown
                </button>
            </li>
            <li class="nav-item mx-1">
                <button class="nav-link" data-bs-toggle="pill" data-bs-target="#forecastWeather" type="button" role="tab">
                    Weather
                </button>
            </li>
            <li class="nav-item mx-1">
                <button class="nav-link" data-bs-toggle="pill" data-bs-target="#forecastBoostedRoute" type="button" role="tab">
                    Boosted Routes
                </button>
            </li>
            <li class="nav-item mx-1">
                <button class="nav-link" data-bs-toggle="pill" data-bs-target="#forecastBerryMaster" type="button" role="tab">
                    Berry Masters
                </button>
            </li>
            <li class="nav-item mx-1">
                <button class="nav-link" data-bs-toggle="pill" data-bs-target="#forecastDailyDeal" type="button" role="tab">
                    Daily Deals
                </button>
            </li>
            <li class="nav-item mx-1">
                <button class="nav-link" data-bs-toggle="pill" data-bs-target="#forecastEnigmaDirection" type="button" role="tab">
                    Enigma Direction
                </button>
            </li>
        </ul>
    </div>
</nav>