<div class="tab-pane" id="forecastEnigmaDirection">
    <h5 class="text-center text-warning mb-4">Note that if you are missing other berries you are <u>NOT</u> guaranteed to get an Enigma hint.</h5>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover table-sm small">
            <thead>
                <tr class="table-dark text-center" data-bind="foreach: ['North', 'South', 'East', 'West']">
                    <th data-bind="text: $data"></th>
                </tr>
            </thead>
            <tbody>
                <tr data-bind="foreach: ['North', 'South', 'East', 'West']">
                    <td class="text-center" data-bind="foreach: Forecast.enigmaDirection().filter(d => d.direction == $data).slice(0, 5)">
                        <div data-bind="text: Util.formatDate($data.date)"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>