<nav class="navbar navbar-expand bg-primary py-0" data-bs-theme="dark" data-bind="visible: Companion.activeTab() == '#forecastContent'">
    <div class="container-fluid justify-content-xl-center g-0">
        <ul class="navbar-nav" role="tablist" style="overflow-x: auto;">
            <li class="nav-item mx-1">
                <button class="nav-link active" id="tab-summary" data-bs-toggle="pill" data-bs-target="#forecastSummary" data-path="Summary" type="button" role="tab">
                    Summary
                </button>
            </li>
            <li class="nav-item mx-1">
                <button class="nav-link" data-bs-toggle="pill" data-bs-target="#forecastUnown" data-path="Unown" type="button" role="tab">
                    Unown
                </button>
            </li>
            <li class="nav-item mx-1">
                <button class="nav-link" data-bs-toggle="pill" data-bs-target="#forecastWeather" data-path="Weather" type="button" role="tab">
                    Weather
                </button>
            </li>
            <li class="nav-item mx-1">
                <button class="nav-link" data-bs-toggle="pill" data-bs-target="#forecastBoostedRoute" data-path="Boosted" type="button" role="tab">
                    Boosted Routes
                </button>
            </li>
            <li class="nav-item mx-1">
                <button class="nav-link" data-bs-toggle="pill" data-bs-target="#forecastBerryMaster" data-path="Berry" type="button" role="tab">
                    Berry Masters
                </button>
            </li>
            <!--<li class="nav-item mx-1">
                <button class="nav-link" data-bs-toggle="pill" data-bs-target="#forecastDailyDeal" data-path="Deals" type="button" role="tab">
                    Daily Deals
                </button>
            </li>-->
            <li class="nav-item mx-1">
                <button class="nav-link" data-bs-toggle="pill" data-bs-target="#forecastEnigmaDirection" data-path="Enigma" type="button" role="tab">
                    Enigma Direction
                </button>
            </li>
        </ul>
    </div>
</nav>