<div data-bind="hidden: Forecast.dataLoaded" class="text-center">
    <p class="m-0">Loading forecast data..</p>
    <p class="m-0">If this takes more than a second or two, something is wrong.</p>
</div>

<div class="tab-pane h-100" id="forecastContent" data-bind="visible: Forecast.dataLoaded">
    <div class="tab-content container-xxl h-100">
        <!-- @import "forecastSummary.html" -->

        <!-- @import "forecastUnown.html" -->

        <!-- @import "forecastWeather.html" -->

        <!-- @import "forecastBoostedRoute.html" -->

        <!-- @import "forecastBerryMaster.html" -->
    </div>
</div>