<div class="modal" id="loadFromGameModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Load PokéClicker Save Data [BETA]</h5>
              </div>
            <div class="modal-body text-center">
                <div class="small mb-2">
                    <div class="text-warning">This is an experimental feature.</div>
                    Attempt to fetch your save data from PokéClicker.<br />
                    Browser - Companion must be opened in the same browser used to play.<br />
                    Client - Companion must be opened from within the desktop client.
                </div>
                <button type="button" class="btn btn-primary" data-bind="click: () => SaveData.listPokeClickerSaves()">
                    Load Save List From Game
                </button>
                <!-- ko if: SaveData.pokeclickerSaveList() -->
                <div class="row justify-content-center">
                    <!-- ko foreach: SaveData.pokeclickerSaveList -->
                    <div class="col-12 col-md-6 mt-3">
                        <div class="card border-warning">
                            <div class="card-body">
                                <div data-bind="text: $data.name"></div>
                                <div class="small" data-bind="text: `#${$data.trainerId}`"></div>
                                <div class="mt-2">
                                    <div class="form-check form-check-inline form-switch small">
                                        <input class="form-check-input" type="checkbox" role="switch" name="chkAutoLoadSave" autocomplete="off"
                                            data-bind="checkedValue: $data.saveKey, checked: SaveData.autoLoadGameSave, attr: { id: `autoLoadSave${$index()}` }">
                                        <label class="form-check-label" data-bind="attr: { for: `autoLoadSave${$index()}` }">Auto Load</label>
                                    </div>
                                    <button type="button" class="btn btn-primary btn-sm"
                                        data-bind="click: () => { SaveData.loadPokeClickerSave($data.saveKey); $('#loadFromGameModal').modal('hide') }">
                                        Select
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: SaveData.pokeclickerSaveList().length == 0 -->
                    <div class="text-danger">No save data found.</div>
                    <!-- /ko -->
                </div>
                <!-- /ko -->
            </div>
            <div class="modal-footer">
                <div class="flex-grow-1">
                    <div class="form-check form-check-inline form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="AutoLoadPokeClickerSaves" autocomplete="off"
                            data-bind="checked: SaveData.autoLoadGameSaveList">
                        <label class="form-check-label" for="AutoLoadPokeClickerSaves">Load Save List Automatically</label>
                    </div>
                </div>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>