<nav class="navbar navbar-expand-md bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="float-end ml-auto d-md-none">
            <button class="btn btn-primary btn-save-selector" type="button">Load PokéClicker Save</button>
        </div>
        <div class="collapse navbar-collapse justify-content-xl-center" id="main-nav">
            <ul class="navbar-nav fs-5" id="mainNavbar" role="tablist">
                <li class="nav-item">
                    <button class="nav-link active" id="tab-my-save" data-bs-toggle="pill" data-bs-target="#mySaveContent" type="button" role="tab">
                        My Save
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" id="tab-forecasts" data-bs-toggle="pill" data-bs-target="#forecastContent" data-path="Forecast" type="button" role="tab">
                        Forecasts
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" id="tab-vitamintracker" data-bs-toggle="pill" data-bs-target="#vitaminTracker" type="button" data-path="VitaminTracker" role="tab">
                        Vitamin Tracker
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" id="tab-tools" data-bs-toggle="pill" data-bs-target="#toolsContent" data-path="Tools" type="button" role="tab">
                        Tools
                    </button>
                </li>
                <li class="nav-item d-md-none"> <!-- display in menu on mobile only -->
                    <button class="nav-link" data-bs-toggle="modal" data-bs-target="#settingsModal" type="button" role="tab">
                        Settings
                    </button>
                </li>
            </ul>
        </div>
        <div class="d-none d-md-block position-absolute end-0 me-2">
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#settingsModal"
                data-bind="tooltip: { title: 'Companion Settings', placement: 'bottom', trigger: 'hover' }">
                <img src="assets/gear-solid.svg" class="d-flex my-1 align-self-center"
                    style="filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(129deg) brightness(106%) contrast(101%);" />
            </button>
            <div class="input-group" style="display: inline-flex; vertical-align: middle; width: unset;">
                <span class="input-group-text text-white" style="border-color: #444; user-select: none;">Load PokéClicker Save:</span>
                <button class="btn btn-primary btn-save-selector" type="button"
                    data-bind="tooltip: { title: 'Browse for and select a save file to load. Drag-and-drop anywhere on this page is also supported.', placement: 'bottom', trigger: 'hover' }">
                    File
                </button>
                <button class="btn btn-primary btn-save-clipboard" type="button" data-bs-toggle="modal" data-bs-target="#loadFromClipboardModal"
                    data-bind="tooltip: { title: 'Import file from text/clipboard. Save can be copied to the clipboard in-game from the Save menu.', placement: 'bottom', trigger: 'hover' }">
                    Text
                </button>
            </div>
        </div>
    </div>
</nav>

<!-- @import "mySaveNavigation.html" -->

<!-- @import "forecastNavigation.html" -->

<!-- @import "toolsNavigation.html" -->