<div class="tab-pane h-100 container-xxl show active" id="tools-battle-calculator">
    <div data-bind="template: { name: 'load-save-template' }"></div>

    <div class="d-flex flex-column h-100" data-bind="if: SaveData.isLoaded">
        <div class="mt-5 mx-auto" data-bind="hidden: SaveData.isDamageLoaded">
            <div class="mx-auto text-center">
                <button type="button" class="btn btn-primary" data-bind="click: () => {
                    SaveData.loadAttackData();
                    if (BattleCalculator.settings.runCalcImmediately()) {
                        BattleCalculator.runFirstCalc();
                    }
                }">Load Additional Data</button>
                <div class="form-text">Additional data must be loaded from your save file. This may take a few seconds.</div>
            </div>
            <div class="form-check form-switch small mt-2">
                <input class="form-check-input" type="checkbox" role="switch" id="BattleCalculatorRunCalcImmediately" data-bind="checked: BattleCalculator.settings.runCalcImmediately">
                <label class="form-check-label text-muted" for="BattleCalculatorRunCalcImmediately">Calculate Battles automatically after loading additional data. Disable this to adjust configuration first.</label>
            </div>
        </div>

        <!-- ko if: SaveData.isDamageLoaded() -->
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1">Configuration</div>
                    <div class="form-check form-switch small p-0 m-0" style="min-height: 0;">
                        <input class="form-check-input" type="checkbox" role="switch" id="BattleCalculatorAutoCollapseConfig" data-bind="checked: BattleCalculator.settings.autoCollapseConfig">
                        <label class="form-check-label" for="BattleCalculatorAutoCollapseConfig">Auto-collapse configuration</label>
                    </div>
                    <button class="btn btn-link btn-sm text-decoration-none p-0 m-0 ms-3" type="button" data-bs-toggle="collapse" data-bs-target="#battleCalcConfigCollapse">
                        Show/Hide
                    </button>
                </div>
            </div>
            <div class="collapse show" id="battleCalcConfigCollapse" style="transition: none !important;">
                <div class="card-body pb-2">
                    <div class="control-row mx-auto">
                        <div class="row align-items-center justify-content-center" data-bind="with: BattleCalculator.settings">
                            <div class="col-auto">
                                <div class="form-check form-check-inline form-switch me-3">
                                    <input class="form-check-input" type="checkbox" role="switch" id="BattleCalculatorxAttack" data-bind="checked: $data.xAttackEnabled">
                                    <label class="form-check-label" for="BattleCalculatorxAttack">xAttack</label>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="input-group">
                                    <div class="input-group-text">Weather</div>
                                    <select class="form-select form-select-sm" data-bind="
                                        options: [...GameHelper.enumSelectOption(WeatherType), { name: 'Current Regional', value: -1 }],
                                        optionsText: 'name',
                                        optionsValue: 'value',
                                        value: $data.weather">
                                    </select>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="form-check form-check-inline form-switch me-3">
                                    <input class="form-check-input" type="checkbox" role="switch" id="BattleCalculatorHideCompleted" data-bind="checked: $data.hideCompleted">
                                    <label class="form-check-label" for="BattleCalculatorHideCompleted">Hide Completed Battles</label>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="form-check form-check-inline form-switch me-3">
                                    <input class="form-check-input" type="checkbox" role="switch" id="BattleCalculatorHideLocked" data-bind="checked: $data.hideLocked">
                                    <label class="form-check-label" for="BattleCalculatorHideLocked">Hide Locked Battles</label>
                                </div>
                            </div>
                        </div>
                        <div class="text-muted small text-center mt-1" data-bind="visible: BattleCalculator.settings.weather() === -1">
                            <strong>Current Regional</strong> - applies the current weather in each region to these calculations.
                        </div>
                        <hr class="my-2" />
                        <div class="row align-items-center justify-content-center mt-1" data-bind="with: BattleCalculator.settings">
                            <div class="col-auto">
                                <div class="input-group">
                                    <div class="input-group-text" data-bind="tooltip: {
                                        title: 'Include your click damage in attack calculations.',
                                        trigger: 'hover'
                                    }">Clicks/second</div>
                                    <input class="form-control" type="number" min="0" max="20" style="width: 75px;" data-bind="value: $data.clicksPerSecond" />
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="form-check form-check-inline form-switch me-3">
                                    <input class="form-check-input" type="checkbox" role="switch" id="BattleCalculatorxClick" data-bind="checked: $data.xClickEnabled">
                                    <label class="form-check-label" for="BattleCalculatorxClick">xClick</label>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="form-check form-check-inline form-switch me-3">
                                    <input class="form-check-input" type="checkbox" role="switch" id="BattleCalculatorRockyHelmet" data-bind="checked: $data.rockyHelmetEnabled">
                                    <label class="form-check-label" for="BattleCalculatorRockyHelmet" data-bind="tooltip: {
                                        html: true,
                                        title: 'Uses the Rocky Helmet bonus from its current level in your save file.',
                                        trigger: 'hover'
                                    }">Rocky Helmet</label>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="input-group">
                                    <div class="input-group-text">Click Damage/second</div>
                                    <label class="input-group-text" data-bind="text: BattleCalculator.calcClickAttack().toLocaleString()">0</label>
                                </div>
                            </div>
                        </div>
                        <hr class="my-2" />
                        <div class="row justify-content-center mt-1">
                            <!-- ko foreach: Object.values(GameConstants.FluteItemType) -->
                            <div class="col-auto" data-bind="tooltip: {
                                html: true,
                                title: `${ItemList[$data].description}<br />${ItemList[$data].gemTypes.join(', ')}`,
                                placement: 'bottom',
                                trigger: 'hover',
                            }">
                                <div class="form-check form-check-inline form-switch me-3">
                                    <input class="form-check-input" type="checkbox" role="switch" data-bind="checkedValue: $data, checked: BattleCalculator.settings.activeFlutes,
                                        attr: { id: `BattleCalculator_${$data}` }">
                                    <label class="form-check-label" data-bind="text: GameConstants.humanifyString($data), attr: { for: `BattleCalculator_${$data}` }"></label>
                                </div>
                            </div>
                            <!-- /ko -->
                                <div class="col-auto">
                                <div class="form-check form-check-inline form-switch me-3">
                                    <input class="form-check-input" type="checkbox" role="switch" id="BattleCalculator_AllFlutes" data-bind="checked: BattleCalculator.settings.allFlutesToggle">
                                    <label class="form-check-label" for="BattleCalculator_AllFlutes">All</label>
                                </div>
                                </div>
                        </div>
                        <div class="text-muted small text-center mt-1">Active flutes provide a +0.5% typed damage bonus for the Gem types they consume.</div>
                        <hr class="my-1" />
                        <div class="text-muted small text-center">Damage calculations include all Pokémon in your party at the current max level. Being in the hatchery or not max level will not affect these calculations.</div>
                        <div data-bind="visible: BattleCalculator.settings.clicksPerSecond() >= 15">
                            <hr class="my-1" />
                            <div class="text-center text-danger small"><strong>Clicks/second Warning</strong> - Due to game calculations and lag, and depending on your progress and device hardware, you will likely not reach the full amount of clicks/second, even with an autoclicker.</div>
                        </div>
                        <!-- ko ifnot: BattleCalculator.showResult() -->
                        <hr class="my-1" />
                        <div class="text-center mt-2">
                            <button type="button" class="btn btn-primary" data-bind="
                                click: () => BattleCalculator.runFirstCalc()">
                                Calculate Battles!
                            </button>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /ko -->

        <!-- ko if: BattleCalculator.showResult() -->
        <ul class="nav nav-tabs container-xxl mt-3 mb-2" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="gym-elite4-tab" data-bs-toggle="pill" data-bs-target="#gym-e4" type="button" role="tab" aria-controls="gym-e4" aria-selected="false">
                    Gyms & Elite 4
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="temp-battles-tab" data-bs-toggle="pill" data-bs-target="#temp-battles" type="button" role="tab" aria-controls="temp-battles" aria-selected="true">
                    Temporary Battles
                </button>
            </li>
        </ul>
        <div class="tab-content flex-grow-1" style="overflow: auto;">
            <div class="tab-pane active" id="gym-e4" role="tabpanel" aria-labelledby="gym-elite4-tab">
                <!-- ko if: !Companion.settings.showAllRegions() && SaveData.file().player.highestRegion < GameConstants.MAX_AVAILABLE_REGION -->
                <div class="text-center mb-2">
                    <span class="text-muted small">Enable the <span class="text-decoration-underline">Show All Regions / Pokémon</span> setting to see battles from regions you have yet to reach.</span>
                </div>
                <!-- /ko -->
                <table class="table table-bordered small table-sticky-header custom-borders">
                    <thead>
                        <tr class="table-dark align-middle">
                            <th>Gym</th>
                            <th class="text-center">Town</th>
                            <th class="text-center">Region</th>
                            <!-- ko if: BattleCalculator.settings.weather() === -1 -->
                            <th class="text-center">Weather</th>
                            <!-- /ko -->
                            <th class="text-center">Pokémon</th>
                            <th class="text-center">Total HP</th>
                            <th class="text-center">Battle Seconds</th>
                            <th class="text-center">Seconds To Win</th>
                            <th class="text-center">Completed?</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody data-bind="foreach: BattleCalculator.gymList, css: { 
                        'filter-hide-locked': BattleCalculator.settings.hideLocked(), 
                        'filter-hide-completed': BattleCalculator.settings.hideCompleted(),
                        'filter-hide-future': !Companion.settings.showAllRegions() 
                    }">
                        <tr class="align-middle" data-bind="css: {
                            'state-locked': !isUnlocked(),
                            'state-completed': isCompleted(),
                            'state-future': parent.region > player.highestRegion()
                        }">
                            <td data-bind="text: $data.leaderName"></td>
                            <td class="text-center" data-bind="text: $data.townObj.name"></td>
                            <td class="text-center" data-bind="text: Util.getRegionNameText($data.townObj.region, $data.townObj.subRegion)"></td>
                            <!-- ko if: BattleCalculator.settings.weather() === -1 -->
                            <td class="text-center" data-bind="text: GameConstants.humanifyString(WeatherType[Weather.getWeather($data.townObj.region, new Date())])"></td>
                            <!-- /ko -->
                            <td class="text-center" data-bind="text: pokemonList.length"></td>
                            <td class="text-center" data-bind="text: formattedTotalHealth"></td>
                            <td class="text-center" data-bind="text: Number(BattleCalculator.getGymBattleTime().toFixed(1))"></td>
                            <td class="text-center" data-bind="text: formattedSecondsToWin, class: timeClass"></td>
                            <td class="text-center" data-bind="text: $data.isCompleted() ? 'Yes' : 'No',
                                class: $data.isCompleted() ? 'text-success' : 'text-danger'"></td>
                            <td class="text-center">
                                <button class="btn btn-secondary btn-sm custom-collapse dropdown-toggle px-1 py-0 collapsed" type="button" data-bs-toggle="collapse"
                                    data-bind="attr: { 'data-bs-target': `#gym-collapse${$index()}` }"></button>
                            </td>
                        </tr>
                        <tr class="collapse" data-bind="attr: { id: `gym-collapse${$index()}` }, css: {
                            'state-locked': !isUnlocked(),
                            'state-completed': isCompleted(),
                            'state-future': parent.region > player.highestRegion()
                        }" style="transition: none !important;">
                            <td data-bind="attr: { colspan: BattleCalculator.settings.weather() === -1 ? 10 : 9 }">
                                <table class="table table-sm mb-0">
                                    <thead>
                                        <tr class="table-dark">
                                            <th>Pokemon</th>
                                            <th class="text-center">Type</th>
                                            <th class="text-center">HP</th>
                                            <th class="text-center">Damage Per Attack</th>
                                            <th class="text-center">Seconds To Defeat</th>
                                            <th class="text-center">Exact Seconds</th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: pokemonList">
                                        <tr>
                                            <td data-bind="text: name"></td>
                                            <td class="text-center" data-bind="text: typeString"></td>
                                            <td class="text-center" data-bind="text: formattedMaxHealth"></td>
                                            <td class="text-center">
                                                <knockout data-bind="text: formattedPartyDamage"></knockout>
                                                <knockout class="small text-warning" data-bind="text: $parent.formattedClickDamage,
                                                    visible: $parent.clickDamage() > 0"></knockout>
                                            </td>
                                            <td class="text-center" data-bind="text: formattedSeconds"></td>
                                            <td class="text-center" data-bind="text: secondsRemainder"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                    <tbody data-bind="visible: !BattleCalculator.hasVisibleGyms()">
                        <tr>
                            <td class="text-center" data-bind="attr: { colspan: BattleCalculator.settings.weather() === -1 ? 10 : 9 }">
                                No data to display. Check above settings.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="temp-battles" role="tabpanel" aria-labelledby="temp-battles-tab">
                <!-- ko if: !Companion.settings.showAllRegions() && SaveData.file().player.highestRegion < GameConstants.MAX_AVAILABLE_REGION -->
                <div class="text-center mb-2">
                    <span class="text-muted small">Enable the <span class="text-decoration-underline">Show All Regions / Pokémon</span> setting to see battles from regions you have yet to reach.</span>
                </div>
                <!-- /ko -->
                <table class="table table-bordered small table-sticky-header custom-borders">
                    <thead>
                        <tr class="table-dark align-middle">
                            <th>Battle</th>
                            <th class="text-center">Region</th>
                            <!-- ko if: BattleCalculator.settings.weather() === -1 -->
                            <th class="text-center">Weather</th>
                            <!-- /ko -->
                            <th class="text-center">Pokémon</th>
                            <th class="text-center">Total HP</th>
                            <th class="text-center">Battle Seconds</th>
                            <th class="text-center">Seconds To Win</th>
                            <th class="text-center">Completed?</th>
                            <th></th>
                        </tr>
                    </thead>
                    
                    <tbody data-bind="foreach: BattleCalculator.tempBattleList, css: {
                        'filter-hide-locked': BattleCalculator.settings.hideLocked(), 
                        'filter-hide-completed': BattleCalculator.settings.hideCompleted(),
                        'filter-hide-future': !Companion.settings.showAllRegions()
                    }">
                        <tr class="align-middle" data-bind="css: {
                            'state-locked': !isUnlocked(),
                            'state-completed': isCompleted(),
                            'state-future': getTown().region > player.highestRegion()
                        }">
                            <td data-bind="text: $data.name"></td>
                            <td class="text-center" data-bind="text: Util.getRegionNameText($data.getTown().region, $data.getTown().subRegion)"></td>
                            <!-- ko if: BattleCalculator.settings.weather() === -1 -->
                            <td class="text-center" data-bind="text: GameConstants.humanifyString(WeatherType[Weather.getWeather($data.getTown().region, new Date())])"></td>
                            <!-- /ko -->
                            <td class="text-center" data-bind="text: pokemonList.length"></td>
                            <td class="text-center" data-bind="text: formattedTotalHealth"></td>
                            <td class="text-center" data-bind="text: Number(BattleCalculator.getTempBattleTime().toFixed(1))"></td>
                            <td class="text-center" data-bind="text: formattedSecondsToWin, class: timeClass"></td>
                            <td class="text-center" data-bind="text: $data.optionalArgs.resetDaily ? 'Resets Daily' : $data.isCompleted() ? 'Yes' : 'No',
                                class: $data.optionalArgs.resetDaily ? 'text-body small' : $data.isCompleted() ? 'text-success' : 'text-danger'"></td>
                            <td class="text-center">
                                <button class="btn btn-secondary btn-sm custom-collapse dropdown-toggle px-1 py-0 collapsed" type="button" data-bs-toggle="collapse"
                                    data-bind="attr: { 'data-bs-target': `#tb-collapse${$index()}` }"></button>
                            </td>
                        </tr>
                        <tr class="collapse" data-bind="attr: { id: `tb-collapse${$index()}` }, css: {
                            'state-locked': !isUnlocked(),
                            'state-completed': isCompleted(),
                            'state-future': getTown().region > player.highestRegion()
                        }" style="transition: none !important;">
                            <td data-bind="attr: { colspan: BattleCalculator.settings.weather() === -1 ? 9 : 8 }">
                                <table class="table table-sm mb-0">
                                    <thead>
                                        <tr class="table-dark">
                                            <th>Pokemon</th>
                                            <th class="text-center">Type</th>
                                            <th class="text-center">HP</th>
                                            <th class="text-center">Damage Per Attack</th>
                                            <th class="text-center">Seconds To Defeat</th>
                                            <th class="text-center">Exact Time</th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: pokemonList">
                                        <tr>
                                            <td data-bind="text: name"></td>
                                            <td class="text-center" data-bind="text: typeString"></td>
                                            <td class="text-center" data-bind="text: formattedMaxHealth"></td>
                                            <td class="text-center">
                                                <knockout data-bind="text: formattedPartyDamage"></knockout>
                                                <knockout class="small text-warning" data-bind="text: $parent.formattedClickDamage,
                                                    visible: $parent.clickDamage() > 0"></knockout>
                                            </td>
                                            <td class="text-center" data-bind="text: formattedSeconds"></td>
                                            <td class="text-center" data-bind="text: secondsRemainder"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                    <tbody data-bind="visible: !BattleCalculator.hasVisibleTempBattles()">
                        <tr>
                            <td class="text-center" data-bind="attr: { colspan: BattleCalculator.settings.weather() === -1 ? 9 : 8 }">
                                No data to display. Check above settings.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /ko -->
    </div>
</div>